*{
    margin: 0px;
}
main{
    width: 360px;
    background-color: rgb(228, 119, 119);
    position: absolute;
    left:50%;
    transform: translate( -50%);
}
header{
    text-align: center;
    color: white;
    height: 300px;
}
header img{
    margin-top: 20px;
    height: 100px;
}
header h2{
    margin-top: 20px;
    font-size: 30px;
}
header p{
    margin-top: 20px;
    font-size: 22px;
}
#content{
    background-color: aliceblue;
}
#buttons{
   display: flex;
   justify-content: center;
   padding-top: 20px;
}
#buttons img{
    width: 45px;
    height: 45px;
    margin: 0 15px;
 }
 #volume{
    text-align: center;
}
#volume input{
    width:100%;
}
input[type="range" i] {
    appearance: none;
    background: rgb(228, 119, 119);
    height: 4px;
    margin:0px;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: red;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
h2{
    margin: 15px 0;
}
#color{
    text-align: center;
    margin-top: 15px;
}
#color button{
    width:25px;
    height: 25px;
    border-radius: 50%;
    margin: 25px 0;
}
#Color1{
    background: #a56363;;
}
#Color2{
    background: rgb(219 189 81 / 84%);
}
#Color3{
    background: rgb(81 219 219 / 84%);
}
#Color4{
    background: rgb(0 4 0 / 84%);
}